html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


.login-container {
    max-width: 500px;
    margin: 80px auto;
    background: #fffdf5;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

.card {
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #f2d675;
}

.btn-login {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #2E27F5;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
}

    .btn-login:hover {
        background: #1f1ac9;
    }




.login-btn {
    background-color: #2E27F5;
    color: white;
    padding: 8px 18px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.2s ease;
    border: none;
}

    .login-btn:hover {
        background-color: #1f1bc9;
        color: white;
    }

.logout-btn {
    background-color: transparent;
    color: #d62828;
    padding: 8px 18px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    border: 1px solid #d62828;
    transition: all 0.2s ease;
}

    .logout-btn:hover {
        background-color: #d62828;
        color: white;
    }






  

@* https://htmlcolorcodes.com/ *@