@page
@model Case_2.Pages.UsersPage.LogInPage.AdminDashBoardModel
@{
}


<h2 class="dashboard-title">Admin Dashboard</h2>

<div class="dashboard-container">

    <a asp-page="/UsersPage/GetAllUsers" asp-route-role="Student" class="dashboard-card blue">
        <div class="icon"><i class="bi bi-mortarboard-fill"></i></div>
        <h4>Studerende</h4>
        <p>Se alle studerende</p>
    </a>

    <a asp-page="/UsersPage/GetAllUsers" asp-route-role="Teacher" class="dashboard-card orange">
        <div class="icon"><i class="bi bi-person-workspace"></i></div>
        <h4>Undervisere</h4>
        <p>Se alle undervisere</p>
    </a>

    <a asp-page="/LokalePage/GetAllLokale" class="dashboard-card green">
        <div class="icon"><i class="bi bi-building"></i></div>
        <h4>Lokaler</h4>
        <p>Se alle lokaler</p>
    </a>

</div>

