@page
@model Case_2.Pages.UsersPage.LogInPage.LogInModel
@{
}

<div class="login-container">

    <h1>Zealand</h1>

    <div class="card">
        <strong>🔒 Admin og skemalæggere</strong><br />
        <span class="desc">
            Administratorer og planlæggere med klient bruger
        </span><br />
        <a class="btn-login"
           asp-page="/UsersPage/LogInPage/LogIn"
           asp-route-role="Admin">
            Log ind
        </a>
    </div>

    <div class="card">
        <strong>🔒 Medarbejdere Zealand</strong><br />
        <span class="desc">
            Er du medarbejder eller underviser?
        </span><br />
        <a class="btn-login"
           asp-page="/UsersPage/LogInPage/LogIn"
           asp-route-role="Teacher">
            Log ind
        </a>
    </div>

    <div class="card">
        <strong>🔒 Studerende Zealand</strong><br />
        <span class="desc">
            Er du studerende?
        </span><br />
        <a class="btn-login"
           asp-page="/UsersPage/LogInPage/LogIn"
           asp-route-role="Student">
            Log ind
        </a>
    </div>

</div>



      @*   https://htmlcolorcodes.com/ *@